<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
          Custom app wrapped
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-text [color]="'primary'">
        <h1>Custom app wrapped</h1>
    </ion-text>

    <app-custom-avatar></app-custom-avatar>

    <ion-chip>
        <app-custom-avatar></app-custom-avatar>
        <ion-label>Chip Avatar</ion-label>
    </ion-chip>

    <ion-item>
        <app-custom-avatar></app-custom-avatar>
        <ion-label>Item Avatar</ion-label>
    </ion-item>

</ion-content>
